@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f8fafc;
    color: #1e293b;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
    font-family: inherit;
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(-8deg);
  }
}

.animate-swing {
  animation: swing 5s ease-in-out infinite;
  transform-origin: top center;
}